body {
    font-family: 'Noto Serif', sans-serif;
    font-family: 'Playfair Display', sans-serif;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 300;
    color: $color-white;
}

.heading {
    &__main {
        font-size: 9rem;
        border-bottom: 2px solid $color-white;
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
    }

    &__main-sub {
        font-size: 2.5rem;
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
    }

    &__primary {
        font-size: 3.4rem;
        text-align: center;
        color: $color-gray-dark;
    }

    &__secondary {
        font-size: 3rem;
        text-transform: uppercase;
    }
}

.paragraph {
    font-size: 1.9rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
}
