.u-align-center {
    text-align: center;
}

.u-align-left {
    text-align: left;
}

.u-padding-vertical {
}

.u-padding-horizontal {
    padding-left: 4rem;
    padding-right: 4rem;
}

.u-margin-bottom-xxl {
    margin-bottom: 15rem !important;
}

.u-margin-bottom-xl {
    margin-bottom: 12rem !important;
}

.u-margin-bottom-l {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-m {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-s {
    margin-bottom: 2rem !important;
}

.u-margin-bottom-xs {
    margin-bottom: 1rem !important;
}

.u-margin-top-xl {
    margin-top: 12rem !important;
}

.u-margin-top-l {
    margin-top: 8rem !important;
}

.u-margin-top-m {
    margin-top: 4rem !important;
}

.u-margin-top-s {
    margin-top: 2rem !important;
}

.u-margin-top-xs {
    margin-top: 1rem !important;
}

.u-container-skewed-left {
    transform: skewY(-8deg);
}

.u-container-skewed-right {
    transform: skewY(8deg);
}

.u-container-rotated {
    transform: rotate(-8deg);
}

.u-anim-fadeInBottom {
    animation: 0.8s fadeInBottom;
    backface-visibility: hidden;
}
