<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">

        <link rel="stylesheet" href="css/main.css">
        <link rel="shortcut icon" type="image/png" href="">
        
        <title>Travelr.</title>
    </head>

    <body>

        <header class="header">
            <nav class="navigation">
                <ul class="navigation__list navigation__list--left">
                    <li class="navigation__element">
                        <a href="#" class="navigation__link">Left</a>
                    </li>
                </ul>
                <ul class="navigation__list navigation__list--right">
                    <li class="navigation__element">
                        <a href="#" class="navigation__link">Right</a>
                    </li>
                </ul>
            </nav>

            <div class="header__text-box">
                <div class="u-margin-bottom-s">
                    <h1 class="heading__main">
                            Travelr.
                    </h1>
                </div>
                <h2 class="heading__main-sub">
                    We'll take you places.
                </h2>
            </div>
        </header>

        <main>
            <section class="section-features">
                <h3 class="heading__primary">Be where you have to be</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
        </footer>
    </body>
</html>