.section-introduction {
    position: relative;
    height: 95vh;
    padding-top: 4rem;
    background: linear-gradient(
        to bottom,
        $color-white,
        $color-gray-light,
        $color-white
    );
}
.section-features {
    background-color: $color-gray-light;
    background: linear-gradient(
        to bottom,
        $color-white 0%,
        $color-white 10%,
        $color-gray-light 40%
    );
    padding-top: 10rem; // margin-top: 25rem;
    padding-bottom: 20rem;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        display: block;
        background-color: $color-gray;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%) skewY(8deg);
        width: 100%;
        height: 40rem;
        z-index: 0;
    }
}
